    
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<head>
    <title>Spam Email Identification</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

        <h1 class="pt-5 pb-2">Top 10 Recommendations based on...</h1>

        <h1 style="color:cornflowerblue">'{{movie}}'</h1>

        <div class="w-100 p-3 mx-auto" style="height: 500px; overflow: auto; white-space: nowrap;">

            {% for movie in top_ten_rated_movies %}

                <div style="display: inline-table; padding: 14px; text-align: center;">
                    <h3 style="display: inline-block; padding: 14px; text-align: center;">{{movie}}</h3>
                    <br>
                    <img src="{{ images[top_ten_rated_movies.index(movie)] }}" alt="Movie Poster">
                    
                </div>
        
            {% endfor %}

        </div>

    </div>
  </div>
</div>

{% endblock %}
