    
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<head>
    <title>Top 10 Highest Rated Movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Top Movies according to IMDB rating system:</h1>

      <h3>{{top_ten_rated_movies}}</h3>

    </div>
  </div>
</div>

{% endblock %}
